@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@*<h1>@ViewData["Title"]</h1>*@

@*-----------------------*@
<div class="row">
    <div class="col-sm-4 text-center abc">
        <!-- Default form login -->
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FullName"></label>
                <input asp-for="Input.FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Class"></label>
                <input asp-for="Input.Class" class="form-control" />
                <span asp-validation-for="Input.Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-sm-8 xyz text-center" style="background-image: url(https://i.imgur.com/6YuRxJA.png)">
        <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
        <h2 class="account-text">Create Your Account</h2>
        <h4 class="account-description">Signup to create, discover and connect with the global community</h4>
        <a class="nav-link text-dark btn btn-info btn-block sign" style="margin-top: 100px" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
</div>
@*-----------------------*@


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
