# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AppReservation.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Administrateur\OneDrive\Bureau\Nouveau dossier (2)\Pr_Reservation\.idea\.idea.AppReservation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
